html {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  background-image: linear-gradient(90deg, #DDD 0%, #DEE 100%);
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 960px;
  max-width: 100vw;
}
header {
  display: flex;
  margin-top: 1em;
}
.page-logo {
  width: 4em;
  height: 4em;
  padding: 1em;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #118693 0%, #1DBBB2 100%);
}
a {
  color: #F1614B;
}
p {
  margin: 0;
}
h1 {
  margin: 0.2em 0.5em;
  color: #118693;
}
h1 span {
  font-size: 1rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
.main-content a {
  display: inline-block;
  padding: 0.2em 1em;
  margin: 0.5em 0;
  background-color: #1DBBB2;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}
#mc_embed_signup {
  background: #fff;
  margin: 1em 0;
  padding-top: 5px;
  width: 600px;
}
